<legend>Production and Sandbox URLs</legend>
<forum class='form-horizontal'>
	<div class='control-group'>
		<input class='input-xxlarge' type='text' disabled/>	
	</div>
	<div class='control-group'>
		<input class='input-xxlarge' type='text' disabled/>		
	</div>
</forum>
<legend>Share</legend>
<div class='btn-group'>
	<button class='btn'>Social sites</button>
	<button class='btn'>Embedded</button>
	<button class='btn'>Email</button>
</div>
<img src='{{url ""}}/extensions/assets/api/themes/store/imgs/facebook.png' />
<img src='{{url ""}}/extensions/assets/api/themes/store/imgs/twitter.png' />
<img src='{{url ""}}/extensions/assets/api/themes/store/imgs/google.png' />
<img src='{{url ""}}/extensions/assets/api/themes/store/imgs/diggit.png' />
<legend>Comments</legend>
<div>
                         {{#if features.social.enabled}}
                            <iframe name="socialIfr" id="socialIfr"
                                src="{{features.social.keys.socialAppUrl}}?target={{rxt.shortName}}:{{assets.id}}&user={{cuser.username}}"
                                width="100%" height="100%" style="height: 300px;" data-script="{{features.social.keys.socialScriptSource}}" data-script-type="{{features.social.keys.socialScriptType}}"></iframe>
                         {{/if}}
                        {{#if inDashboard}}
                             <div id="comment-content" class="content"></div>
                        {{else}}
                            <div id="comment-content" class="content user-review"></div>
                        {{/if}}
 </div>
